/build/
/build-linux/
/build-*/
/packages/
/__pycache__/
/data/maps/*
!/data/maps/.gitkeep
/tools/vrf/win64/
/tools/vrf/linux64/
/tools/visibility_point_editor/local_assets/
/tools/debug_viewer/local_assets/
*.tmp
*.zip
*.bvh8
*.obj
*.glb
*.pdb
*.ilk
*.pyc

/notes
compile_flags.txt
